definitions:
  entities.City:
    properties:
      id:
        type: string
      name:
        type: string
    type: object
  entities.Credentials:
    properties:
      password:
        type: string
      username:
        type: string
    type: object
  entities.UserDTO:
    properties:
      cityID:
        type: string
      imagePath:
        type: string
      password:
        type: string
      role:
        type: string
      username:
        type: string
    type: object
info:
  contact: {}
paths:
  /cities:
    get:
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/entities.City'
            type: array
      tags:
      - города
  /images:
    post:
      consumes:
      - multipart/form-data
      parameters:
      - collectionFormat: multi
        description: изображения
        in: formData
        items:
          type: file
        name: images
        required: true
        type: array
      responses:
        "201":
          description: Created
          schema:
            items:
              type: string
            type: array
      tags:
      - изображения
  /images/{path}:
    get:
      parameters:
      - description: пути к изображению
        in: path
        name: path
        required: true
        type: string
      responses: {}
      tags:
      - изображения
  /meDetails:
    get:
      responses: {}
      tags:
      - пользователи
  /sign-in:
    post:
      parameters:
      - description: реквизиты для входа
        in: body
        name: credentials
        required: true
        schema:
          $ref: '#/definitions/entities.Credentials'
      responses: {}
      tags:
      - пользователи
  /sign-up:
    post:
      parameters:
      - description: пользователь
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/entities.UserDTO'
      responses: {}
      tags:
      - пользователи
  /users/{id}:
    get:
      parameters:
      - description: идентификатор
        in: path
        name: id
        required: true
        type: string
      responses: {}
      tags:
      - пользователи
swagger: "2.0"
